* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffff;
    --secondary-color: #676767;
    --content-wrap-color: black;
    --dropdown-color:rgb(42, 39, 29);
    --forSix-color:#464646;
    --connect-color:#1f12033b;
    --heading-color: #000000;
    --hover-color: #ff9100;
    --primary2-color: #fafaf8;
    --cover-color: #1f12035a;
    --course-color: #F2EAD3;
    --navbar-color: #f2ead3a3;
    --slide-color: #505050;
}

.dark-theme {
    --primary-color: #0a0a0a;
    --secondary-color: #F2EAD3;
    --heading-color: #F2EAD3;
    --dropdown-color:#F2EAD3;
    --content-wrap-color: #F2EAD3;;
    --forSix-color:#F2EAD3;;
    --connect-color:#ebe4dcc1;
    /* --hover-color: #ffd500; */
    --primary2-color: #0f0f0f;
    --cover-color: #1f1203b7;
    --course-color: #1f1203;
    --navbar-color: #1f1203a8;
    --slide-color: #897c7c62;
}

.popup-message {
    position: fixed;
    font-family: 'objectivity';
    transition: all 0.5s ease;
width: 100%;
    background-color: #d5bd37;

    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    z-index: 1000; 
}

#ok-button {
    transition: all 0.5s ease;
    color: #000;
    padding: 7px;
    cursor: pointer;
    background-color: rgb(244, 236, 236);
    border-radius: 10px;
}

.VC {
    width: 50%;
    margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
}

.VC > #num {
    margin: 0 auto;
}

.VC h1 {
text-align: center;
font-family: 'objectivity';
font-size: 2rem;
padding-bottom: 10px;
padding-top: 20px;
color: var(--forSix-color);
}
#visitorCounter {
    font-size: 24px;
    color: var(--forSix-color);
    border: 1px solid var(--forSix-color);
    padding: 10px;
    margin: 10px;
    margin: 0 auto;
        width: 100px;
    text-align: center;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

.wrap {

    margin: 0 auto;
    max-width: 1590px;
}

body {
    background-color: var(--primary-color);
    transition: all 0.5s linear;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2d291f;
    z-index: 100;
    transition: background-color 0.5s ease;
}




.wrap2 {
    max-width: 1590px;
    margin: 0 auto;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.scrolled {

    box-shadow: 3px 3px 3px rgba(86, 83, 83, 0.13);
}




/* .Logo {
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
font-family: 'jost';

} */

.Logo img {
width: 120px;
margin: 0;
padding: 0;
}

/* .Logo span {
    color: white;
    font-family: 'derivia';
font-style: italic;

} */

.navbar {
    max-width: 1590px;
    transition: all 0.5s linear;
}

.navbar a {
    margin-top: 10px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 3rem;
    font-size: 1.2rem;
    padding-bottom: 4.5px;
    font-family: 'objectivity';
    transition: all 0.5s linear;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.navbar a.animate {
    animation: animate2 1s forwards;
}

@keyframes animate2 {
    from {
        opacity: 0;
        transform: translate(0, 1px);
        filter: blur(5px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}


#icon1 {
    width: 45px;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(78, 75, 75, 0.34);
    border-radius: 25px;
    padding: 5px;
    transition: all 0.5s linear;
    background-color: var(--navbar-color);
}



.navbar a:hover,
.navbar a.active {
    border-bottom: 1px solid #b19546;
}




section {
    min-height: 700px;
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
transition: all 0.4s ease-in;
}

.all-heading {
    display: flex;
    text-align: center;
    font-family: 'derivia';
    font-size: 7rem;
    color: var(--heading-color);
font-weight: 1;
}


.What,
.MyHobbies {
    background: var(--primary-color);
}

.me-wrap {
    max-width: 1200px;

}



.Introduction {
    background: url('images/withCam2.png') no-repeat center center scroll;
    background-size: cover;
    width: 100vw;
    padding-top: 10%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.Introduction::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.Journey {
    background-color: var(--primary2-color);
}


.wrap-journey {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-journey h1 {
    width: fit-content;
    text-align: center;
    color: var(--secondary-color);
    padding-bottom: 5px;
    border-bottom: 2px solid #ff9100;

}

.content {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 20px;
}



.content p {
    color: var(--content-wrap-color);
    width: 100%;

    font-size: 1.6rem;
    position: relative;
    font-family: 'martel';
    text-align: center;
    padding: 15px;

    border-radius: 10px;

}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.box1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.box1 .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.box1 .hover-text {
    font-family: 'objectivity' ;
    width: 90%;
}

.box1 img {
    width: 100%;
    margin: 0 auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: all 0.4s linear;
}

.box1:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.box1:hover .hover-text {
    opacity: 1;
}

.box2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.box2 .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s linear;
}

.box2 .hover-text {
    font-family: 'objectivity' ;
    width: 90%;
}

.box2 img {
    max-width: 1200px;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s linear;
}

.box2:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.box2:hover .hover-text {
    opacity: 1;
}


.box3 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.box3 .hover-text {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.box3 .hover-text {
    font-family: 'objectivity' ;
    width: 80%;
}

.box3 img {
    width: 85%;
    margin: 0 auto;
    transition: transform 0.3s ease;
    transition: all 0.4s linear;
    cursor: pointer;

}

.box3:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.box3:hover .hover-text {
    opacity: 1;
}

.wrap-journey hr {
    margin-top: 80px;
    margin-left: 0;
    background-color: var(--secondary-color);
}

.box4-heading {
    margin-top: 60px;
    letter-spacing: 5px;
    font-family: 'derivia';
    font-size: 3.2rem;
    text-align: center;
    text-align: center;
    color: var(--forSix-color);
text-shadow: 8px 6px 10px rgba(0, 0, 0, 0.267)
}


.box4 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
gap: 20px;

}

.box4 p{
    font-size: 1.6rem;
    font-family: 'martel';
color: var(--forSix-color);
padding: 20px;
text-align: center;
    width: 35%;
height: fit-content;

}

.box4 p:nth-child(3) {
margin-top: 150px;
width: 33%;


}


.box4 img {
   
    width: 30%;
    height: auto;
object-fit: contain;

}



.intro {
    position: absolute;
    max-width: 100%;
    margin-left: 100px;
    z-index: 9;
    margin-top: 250px;
}

.content-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}


.extra {
    min-height: 500px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 90px;
}

.extra hr {
    background-color: var(--secondary-color);
    margin-top: 0;
    width: 100%;
    margin-left: 0;
}


.extra h1 {
    font-family: 'derivia';
    font-size: 3.5rem;
    text-align: center;
    color: var(--secondary-color);
    padding-right: 10px;
    line-height: 40px;
    font-weight: 1;
    top: 0;
    width: 50%;
    letter-spacing: 4px;
}


.extra p {
    font-family: 'objectivity';
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 18px;
    margin-left: 9%;

    color: var(--secondary-color);
text-align: center;
width: 25%;

}
.content-wrap p
    {
    font-family: 'martel';
    text-align: left;
    color: var(--content-wrap-color);
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: 1px;

    width: 45%;
}



hr {
    margin-top: 60px;
    height: 1px;
    background-color: #ffffff;
    margin-left: 3%;
    width: 85%;
}
/* @media (max-width: 1440px) {
    .intro {
        width: 50%;
        margin-left: 30%;
    }
} */


.intro h2 {
    font-size: 5rem;
    font-family: 'derivia';
letter-spacing: 5px;
    color: white;

    font-weight: 1;
    text-shadow: 5px 6px 7px #000000;

}

.intro p {
    font-size: 2rem;
    max-width: 100%;
    width: 50%;
    margin-left: 3%;
    margin-top: 4%;
    font-weight: 1;
    color: white;
    font-family: 'martel';
}



.copyright {

    width: 100%;
    padding: 30px;
    background-color: #dccec058;
}

.copyright p {
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}



#Photography .text p {
    font-size: 3.2rem;
    position: relative;
    font-family: 'jost';
    text-align: center;
    color: var(--secondary-color);
    margin-top: 2%;
}

.container {
    position: relative;
    border-radius: 30px;
    width: 70%;
    margin: 0 auto;
    height: 590px;
    margin-top: 3%;
    background: var(--primary-color);
}





.container .slide {
    display: flex;
    overflow-x: auto;
    gap: 20px;

}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px var(--slide-color);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}



.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.slide .item:nth-child(3) {
    left: 50%;


}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);

}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);

}

.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    transform: translate(0, -50%);
    font-family: system-ui;

}


.slide .item:nth-child(2) .content {
    display: block;

}



@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 10px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    margin: 0 20px;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
    opacity: 1;
}
.MyPhilosophy {
    background-color: var(--primary2-color);
}

.MyPhilosophy-container span {
    font-family: 'derivia';
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--forSix-color);
    padding-right: 10px;
    line-height: 40px;
    font-weight: 1;
    width: 50%;
    letter-spacing: 4px;
}

.MyPhilosophy-container p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: right;
    font-family: 'martel';
    color:var(--forSix-color);
    width: 40%;
}



.MyPhilosophy-container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}


.MyPhilosophy-container p img{
    width: 60%;
    display: none;
   object-fit: contain;
}

.MyPhilosophy-container img {
    width: 60%;
   object-fit: contain;
}



.MyWork p{
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'martel';
    color: var(--forSix-color);

}
.MyWork .boxes {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}
.MyWork .boxes img:nth-child(1),
.MyWork .boxes img:nth-child(3) {
    width: 40%;
}

.MyWork .boxes img:nth-child(2) {
    width: 25%;

}

.MyWork .row2 {
    display: flex;
    margin-left: 0;
    justify-content: center;
    gap: 20px;
}

.MyWork .row2 img:nth-child(1),
.MyWork .row2 img:nth-child(3) {
    width: 27%;

}

.MyWork .row2 img:nth-child(2) {
    width: 42%;
    object-fit: contain;
}

.MyWork .boxes:nth-of-type(3) {
    margin-top: 0;
}

.MyWork .boxes:nth-of-type(5) {
    margin-top: 0;
}

.MyWork hr {
    background-color: var(--secondary-color);
}

.ig-section {
    background-image: linear-gradient( 135deg, #f05f5791 10%, #36094039 100%);
    width: 100%;
        backdrop-filter: blur(60px);
    padding: 50px;
    margin-top: 30px;
    border-radius: 20px;
}

.ig-section h2 {
    margin-top: 30px;
    font-family: 'objectivity';
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #ffffff;
    padding-right: 10px;
    line-height: 40px;
    font-weight: 1;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 4px;
}

.ig {
    margin-top: 30px;
    display: flex;
    gap: 40px;

}


.WhatIDo-content {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}

.WhatIDo h2 {
    align-self: flex-start;
    display: flex;
    color: var(--heading-color);
    font-weight: 1;
}



.WhatIDo hr {
    background-color: var(--forSix-color);
    margin-top: 15px;
    margin-left: 0;
}

.WhatIDo p{
    margin-top: 40px;

width: 40%;
}

.finePhotog {
    display: flex;
    width: 55%;
    gap: 20px;
    justify-content: center;

}

.finePhotog  img {
    width: 45% ;
      height: auto; 
    object-fit: contain;

}



.WhatIDo .WhatIDo-content p {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 1;
    text-align: center;
    color: var(--forSix-color);
    font-family: 'martel';
}

.WhatIDo .WhatIDo-content span {
    font-family: 'derivia';
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
    padding-right: 10px;
    line-height: 40px;
    font-weight: 1;
    width: 50%;
    letter-spacing: 4px;
} 

.landscape {
    display: flex;
    gap: 20px;
}

.landscape img {
    margin-top: 50px;
    width: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.375);
}



.header .toggle_btn {
    display: none;
}
.toggle_btn {
    color: white;
    cursor: pointer;
    font-size: 2rem;
}
/*
responsiveeee
*/


/*dropdown menu*/

.dropdown_menu {
    display: none; 
    position: absolute;
    right: 0;
    top: 90px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background:#2d291f9d;
    backdrop-filter: blur(15px);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: max-height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    max-height: 365px;
    padding-bottom: 40px;
}

.dropdown_menu a {
    padding: 0.7rem;
padding-top: 15px;
padding-bottom: 15px;

    cursor: pointer;
    display: flex;
    font-family: 'objectivity';
    font-size: 1.6rem;
    color:white;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    justify-content: left;
margin-left: 30px;
    transition: all 0.5s linear;

}

.dropdown_menu a span {
    border-bottom: 1px solid transparent;
    transition: all 0.3s linear;
    display: block;
}

.dropdown_menu a:hover span,
.dropdown_menu a.active span {
    
   color: rgb(212, 218, 64);
}



@media (max-width:1211px) {
    .header .navbar {
        max-width: 600px;
        padding: 0;
    }

    .slide .item:nth-child(5) {
        opacity: 0;
    }

    .navbar a {
        margin-top: 10px;
    }

   
}



@media (max-width:1029px) {
    .header .navbar {
        max-width: 500px;
    }

}

@media (max-width: 947px) {
    .connect-wrap {
        justify-content: center;
        flex-direction: column;
    }

    .socmeds {
        align-items: center;
    }
}


@media (max-width:992px) {

    .Logo {
        margin: 0 auto;
    }

    /* .toggle_btn .fa-solid {
        padding: 5px 30px 5px 30px;
border-radius: 30px;
transition: all 0.5s ease-in;
background-color: rgba(169, 147, 87, 0.362);
    } */

    .navbar {
        display: none;
    }

    .header .toggle_btn {
        display: block;
        float: right;
    }

    #icon1 {
        display: none;
    }

    .dropdown_menu #icon2 {
        display: block;
        width: 37px;
        cursor: pointer;
margin-left: 30px;
margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.688);
        padding: 5px;
        border-radius: 10px;
    }


    .dropdown_menu {
        display: block; 
        max-height: 0;
    }

    .box1 .hover-text, 
    .box2 .hover-text,
    .box3 .hover-text {
        font-size: 1.4rem;
    }

    .WhatIDo-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .WhatIDo p {
        width: 95%;
    }

    .WhatIDo-content img {
        width:70%;
        flex-direction: row;
    }

    .WhatIDo .WhatIDo-content img:nth-child(3) {
        width:70% ;
    }


    .MyPhilosophy-container {
        flex-direction: column;
    }

    .MyPhilosophy-container p {
        width: 100%;
        text-align: center;
    }

    .MyPhilosophy-container p img {
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    .MyPhilosophy-container img {
        display: none;
    }

    .MyWork .boxes {
        flex-direction: column;
    }

    .MyWork .row2 {
        flex-direction: column;
margin-top: 20px;
        align-items: center;
    }
    
    .MyWork .boxes img:nth-child(1),
.MyWork .boxes img:nth-child(3) {
    width: 70%;
}

.MyWork .boxes img:nth-child(2) {
    width: 70%;

}


.MyWork .row2 img:nth-child(1),
.MyWork .row2 img:nth-child(3) {
    width: 70%;

}

.MyWork .row2 img:nth-child(2) {
    width: 70%;
    
    object-fit: contain;
}

.MyWork .boxes:nth-of-type(3),
.MyWork .boxes:nth-of-type(5) {
    margin-top: 20px;
}


}

@media (max-width:925px) {
    .box4{
        flex-direction: column;
    }

    .box4 p {
        width: 100%;
    }

    .box4 p:nth-child(3) {
        width: 100%;
        margin-top: 0;
    }

    .box4 img {
        margin: 0 auto;
        max-width: 100%;
        width: 70%;
    }
}

@media (max-width:959px) {

    .intro {
        margin-left: 0;
        margin-top: 250px;
    }
    .intro h2 {
        margin: 0 auto;
        width: 100%;
        padding: 10px;
 max-width: 870px;
  

        text-align: center;
    }

    .intro p {
       width: 100%;
        max-width: 850px;
       padding: 20px;

       text-align: center;
margin-left: 0;
    }

    .intro hr {
        margin: 0 auto;
    }
}

@media (max-width:851px){
    .boxes:nth-of-type(2){
        flex-direction: column;

        width: 60%;
    }

    .box1 .hover-text, 
    .box2 .hover-text,
    .box3 .hover-text {
        font-size: 2.4rem;
    }


    .box3 img {
        width: 100%;
    }

 

    .box3 .hover-text {
      left: 50%;
    }
}

@media (max-width:600px) {
    .box4 img {
        width: 100%;
    }

    .boxes:nth-of-type(2) {
        width: 100%;
    }

    .box1 .hover-text, 
    .box2 .hover-text,
    .box3 .hover-text {
        font-size: 2rem;
    }

    .MyWork .boxes img:nth-child(1),
    .MyWork .boxes img:nth-child(3) {
        width: 100%;
    }
    
    .MyWork .boxes img:nth-child(2) {
        width: 100%;
    
    }
    
    
    .MyWork .row2 img:nth-child(1),
    .MyWork .row2 img:nth-child(3) {
        width: 100%;
    
    }
    
    .MyWork .row2 img:nth-child(2) {
        width: 100%;
        
        object-fit: contain;
    }
}

@media (max-width: 598px) {
    .extra h2 {
            margin: 0 auto;
        }

        .extra h1{
            width: 100%;
        }

        .extra p {
            width: 100%;
            margin-top: 30px;
            margin-left: 0;
            text-align: center;
        }
    .content-wrap {
    flex-direction: column;
}

@media (max-width: 414px) {

}

.WhatIDo h2 {
    margin: 0 auto;
}

.finePhotog {
    flex-direction: column;
    width: 100%;
}

.finePhotog img {
width: 100%;
}

.landscape {
    flex-direction: column;
align-items: center;
    width: 100%;
}

.landscape img {
    width: 100%;
    margin-top: 20px;
}

.landscape img:nth-child(2) {
    margin-top: 0px;
}
.MyPhilosophy-container p img {
    width: 100%;
}

}
@media (max-width:1426px) {

.ig-section .ig{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}



.Connect{
    background-color: var(--primary2-color);
}

.Connect > h1 {
    font-size: 5rem;
    font-family: 'derivia';
    color: var(--forSix-color);
}

.Connect > h2 {
    font-size: 4rem;
    margin-top: 25px;
    font-family: 'objectivity';
color: var(--forSix-color);
}

.connect-wrap {
width: 100%;
margin-top: 10px;
    background-color: var(--connect-color);
    display: flex;
    align-items: center;
justify-content: space-between;
    padding: 20px;
    gap: 50px;
align-self: center;
    border-radius: 20px;
}



 .socmeds {
display: flex;

flex-direction: column;

}

.socmeds h1 {
    margin-top: 10px;

    font-weight: bold;
}

.socmeds p {
    font-size: 1.4rem;
font-family: 'objectivity';
margin-top: 5px;

}
.socmeds p a {
    font-size: 1.4rem;
font-family: 'objectivity';
margin-top: 5px;
color: #000;


}

.socmeds img {
    width: 50px;

}

.form-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
  }

  .form-wrap iframe {
    margin: 0 auto;
    width: 100%;
}

.form-container {
    width: 45%;
    padding: 16px;
    background-color: var(--connect-color);
    border-radius: 4px;
  }
  
  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #544a31;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  label {
    font-size: 1.4rem;
    font-family: 'objectivity';
  }

  
  
@media (max-width: 851px) {
    .form-wrap {
        flex-direction: column;
    }

    .form-container {
width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
.intro {
width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 9;
    }
    .intro h2 {
font-size: 4rem;


    }
   
.intro p{
    font-size: 1.4rem;
}

.extra{
    padding-left: 10px;
    padding-right: 10px;
    width: 97.5%;
    margin: 0 auto;
}

.content-wrap p {
font-size: 1.4rem;
}

section {
    min-height: 700px;
    padding: 10rem 4% 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.4s ease-in;
}

.content p {
    font-size: 1.4rem;
    padding: 0;
border-radius: 0;
margin-top: 20px;
}

.box4 p {
    font-size: 1.4rem;
    padding: 0;
}

.WhatIDo .WhatIDo-content p{
    font-size: 1.4rem;
}

.ig-section {
    width: 95vw;

}
.ig {

width: 20px;
margin: 0 auto;
}
}

@media (max-width: 330px) {
.ig-section{
    display: none;
}
}